### Check Connection

In [1]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
  'secure_connect_bundle': 'E:\DataBase\casandra\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('WMttaftombaJGJuEjbADQxDH', '3wq.819NbdQ+EprUDAbthTU-aG6fGPX0HcQU,Xvpg9Zj2YZirT5oU8Bew2JnrLXQtzxqufO,eri91hC+r7SsBcxj,PPyKKjDkvg0azak,UKLhdBsX5ESFeSJbMw2EHPF')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

### Create Table

In [2]:
row = session.execute("CREATE TABLE ineuron.dept(dept_no int PRIMARY KEY, dept_name text, location text);").one()
print(row)

None

In [4]:
row = session.execute("CREATE TABLE ineuron.emp01(emp_no bigint PRIMARY KEY, ename text, job text, mgr bigint, hiredate timestamp, salary bigint, comm bigint, dept_no int);").one()
print(row)

None

### Insert Data

In [6]:
row = session.execute("INSERT INTO ineuron.emp01(emp_no, ename, job, mgr, hiredate, salary, comm, dept_no) VALUES(1, 'SMITH', 'CLERK',7902,'1980-10-17',  800, 0, 20);").one()
print(row)

None

In [7]:
session.execute("INSERT INTO ineuron.emp01(emp_no, ename, job, mgr, hiredate, salary, comm, dept_no) VALUES(7369, 'SMITH', 'CLERK',7902,'1980-10-17',  800, 0, 20);").one()
print(row)

None

In [38]:
row = session.execute("INSERT INTO ineuron.dept(dept_no, dept_name, location) VALUES(1, 'CS','Mumbai');").one()
print(row)

None

In [39]:
row = session.execute("INSERT INTO ineuron.dept(dept_no, dept_name, location) VALUES(2, 'ME','Pune');").one()
print(row)

None

### Display Table

In [8]:
row = session.execute("SELECT * FROM ineuron.dept").one()
print(row)

None

In [10]:
row = session.execute("SELECT * FROM ineuron.emp01").one()
print(row)

Row(emp_no=7369, comm=0, dept_no=20, ename='SMITH', hiredate=datetime.datetime(1980, 10, 17, 0, 0), job='CLERK', mgr=7902, salary=800)

### Delete Record

In [11]:
row = session.execute("DELETE FROM ineuron.emp01 where emp_no=7369;").one()
print(row)

None

In [12]:
row = session.execute("SELECT * FROM ineuron.emp01").one()
print(row)

Row(emp_no=1, comm=0, dept_no=20, ename='SMITH', hiredate=datetime.datetime(1980, 10, 17, 0, 0), job='CLERK', mgr=7902, salary=800)

### Delete/Drop Table

In [13]:
row = session.execute("DROP TABLE ineuron.emp01").one()
print(row)

None

### Count Records

In [17]:
session.execute("CREATE TABLE ineuron.emp01(emp_no bigint PRIMARY KEY, ename text, job text, mgr bigint, hiredate timestamp, salary bigint, comm bigint, dept_no int);").one()
session.execute("INSERT INTO ineuron.emp01(emp_no, ename, job, mgr, hiredate, salary, comm, dept_no) VALUES(1, 'SMITH', 'CLERK',7902,'1980-10-17',  800, 0, 20);").one()
session.execute("INSERT INTO ineuron.emp01(emp_no, ename, job, mgr, hiredate, salary, comm, dept_no) VALUES(7369, 'SMITH', 'CLERK',7902,'1980-10-17',  800, 0, 20);").one()

In [18]:
row = session.execute("SELECT COUNT(*) FROM ineuron.emp01;").one()
print(row)

Row(count=2)

In [19]:
row = session.execute(" SELECT emp_no, ename, job FROM ineuron.emp01;").one()
print(row)

Row(emp_no=7369, ename='SMITH', job='CLERK')

### WHERE clause

In [21]:
row = session.execute("SELECT * FROM ineuron.emp01 where emp_no=1;").one()
print(row)

Row(emp_no=1, comm=0, dept_no=20, ename='SMITH', hiredate=datetime.datetime(1980, 10, 17, 0, 0), job='CLERK', mgr=7902, salary=800)

In [26]:
row = session.execute("SELECT * FROM ineuron.emp01 where emp_no=7369;").one()
print(row)

Row(emp_no=7369, comm=0, dept_no=20, ename='SMITH', hiredate=datetime.datetime(1980, 10, 17, 0, 0), job='CLERK', mgr=7902, salary=800)

In [29]:
row = session.execute("SELECT * FROM ineuron.emp01 where ename='SMITH';").one()
print(row)

InvalidRequest: Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

### Aggregation

In [30]:
row = session.execute("SELECT COUNT(*) FROM ineuron.emp01;").one()
print(row)

Row(count=2)

In [31]:
row = session.execute("SELECT SUM(salary) FROM ineuron.emp01;").one()
print(row)

Row(system_sum_salary=1600)

In [32]:
row = session.execute("SELECT MAX(salary) FROM ineuron.emp01;").one()
print(row)

Row(system_max_salary=800)

In [33]:
row = session.execute("SELECT MIN(salary) FROM ineuron.emp01;").one()
print(row)

Row(system_min_salary=800)

In [34]:
row = session.execute("SELECT * FROM ineuron.emp01 LIMIT 10;").one()
print(row)

Row(emp_no=7369, comm=0, dept_no=20, ename='SMITH', hiredate=datetime.datetime(1980, 10, 17, 0, 0), job='CLERK', mgr=7902, salary=800)

In [35]:
row = session.execute("SELECT ename as Employee_Name, salary, comm as commission FROM ineuron.emp01;").one()
print(row)

Row(employee_name='SMITH', salary=800, commission=0)

### Join

In [40]:
row = session.execute("SELECT ename, dept_name FROM ineuron.emp01 ineuron.dept where ineuron.emp01.deptno = ineuron.dept.dept_no;").one()
print(row)

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:43 mismatched input 'ineuron' expecting EOF (..., dept_name FROM ineuron.emp01 [ineuron]...)">