In [1]:
def func(**kwargs):
    print(kwargs)
    print('key  value')
    print('***********')
    for key,val in kwargs.items():
        print("%-6s %-10s"%(key,val))

In [2]:
func(a=555,b=444,c='deb')

{'a': 555, 'b': 444, 'c': 'deb'}
key  value
***********
a      555
b      444
c      deb

#to connect to cloud
https://auth.cloud.datastax.com/auth/realms/CloudUsers/protocol/openid-connect/auth?client_id=auth-proxy&redirect_uri=https%3A%2F%2Fgatekeeper.auth.cloud.datastax.com%2Fcallback&response_type=code&scope=openid+profile+email&state=%2Fioggi3PlZKRkb3q5s%2Bc204BGug%3D

In [1]:
pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp38-cp38-win_amd64.whl (2.9 MB)Note: you may need to restart the kernel to use updated packages.
Collecting geomet<0.3,>=0.1
  Using cached geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: six>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: click in c:\users\dell\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)

Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1

In [1]:
import cassandra; 
print (cassandra.__version__)

3.25.0

In [2]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
  'secure_connect_bundle': 'E:\DataBase\casandra\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('WMttaftombaJGJuEjbADQxDH', '3wq.819NbdQ+EprUDAbthTU-aG6fGPX0HcQU,Xvpg9Zj2YZirT5oU8Bew2JnrLXQtzxqufO,eri91hC+r7SsBcxj,PPyKKjDkvg0azak,UKLhdBsX5ESFeSJbMw2EHPF')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

In [3]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
  'secure_connect_bundle': 'E:\DataBase\casandra\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('WMttaftombaJGJuEjbADQxDH', '3wq.819NbdQ+EprUDAbthTU-aG6fGPX0HcQU,Xvpg9Zj2YZirT5oU8Bew2JnrLXQtzxqufO,eri91hC+r7SsBcxj,PPyKKjDkvg0azak,UKLhdBsX5ESFeSJbMw2EHPF')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute(" CREATE TABLE ineuron.emp1234(emp_id int PRIMARY KEY,emp_name text,emp_city text,emp_sal varint,emp_phone varint);").one()
print(row)

None

In [5]:
session.execute("create table ineuron.emp112(emp_id int PRIMARY KEY,emp_name int);")

In [6]:
session.execute("insert into ineuron.emp112(emp_id ,emp_name) values(333,589);")

# Select all data from a table

In [8]:
ss= session.execute("select * from  ineuron.emp112;")
for i in ss:
    print(i[0],i[1])

333 589

In [9]:
ss= session.execute("select * from  ineuron.emp1234;")
for i in ss:
    print(i[0],i[1],i[2],i[3])

# Select a Specific record

In [13]:
ss= session.prepare("select * from  ineuron.emp123 where emp_id = ? ;")

res= session.execute(ss,[1])
for i in res:
    print(i[0],'|',i[1],'|',i[2],'|',i[3])

# Insert a row into Emp

In [17]:
session.execute("INSERT INTO ineuron.emp123 (emp_id,doj,ename,sal) values (%s,%s,%s,%s)",[4,"2019-07-01",'debasish',1234])

InvalidRequest: Error from server: code=2200 [Invalid query] message="Undefined column name doj"

In [18]:
ss= session.execute("select * from  home.Members;")
for i in ss:
    print(i[0],i[1],i[2],i[3])

5 52 None 145
2 26 memohit@gmail.com 165
4 55 None 157
6 30 None 145
3 25 None 142

# Update a record in Emp

In [20]:
prepare_st= "update home.Members SET age= ?,name= ? where id= ? ;"
prepare_ud= session.prepare(prepare_st)
session.execute(prepare_ud,[2222,'SUDH',1])

In [22]:
ss= session.execute("select * from  home.Members;")
for i in ss:
    print(i[0],i[1],i[2],i[3])
    print(i)

5 52 None 145
Row(id=5, age=52, email=None, height=145, last_name=None, name='poonam')
1 2222 None None
Row(id=1, age=2222, email=None, height=None, last_name=None, name='SUDH')
2 26 memohit@gmail.com 165
Row(id=2, age=26, email='memohit@gmail.com', height=165, last_name=None, name='shubham')
4 55 None 157
Row(id=4, age=55, email=None, height=157, last_name=None, name='rakesh')
6 30 None 145
Row(id=6, age=30, email=None, height=145, last_name=None, name='seema')
3 25 None 142
Row(id=3, age=25, email=None, height=142, last_name=None, name='aradhana')

# Insert Multiple Records to DB

In [23]:
from cassandra.query import BatchStatement

qr1= "insert into home.Members(id,age,email,height,last_name,name) values(%s,%s,%s,%s,%s,%s)"
batch = BatchStatement()
batch.add(qr1,[5,25, "sudh@gmail.com",18,"kumar","sudh"])
batch.add(qr1,[2,25, "dh@gmail.com",128,"ku","sudhjwdjhw"])
batch.add(qr1,[4,25, "sh@gmail.com",108,"mar","sudh chauhan"])
session.execute(batch)
print('Insert completed')

Insert completed

In [24]:
ss= session.execute("select * from  home.Members;")
for i in ss:
    print(i[0],i[1],i[2],i[3])

5 25 sudh@gmail.com 18
1 2222 None None
2 25 dh@gmail.com 128
4 25 sh@gmail.com 108
6 30 None 145
3 25 None 142

# Delete a record from MEMBER

In [26]:
dt_rec= "delete from home.Members where id= ?;"
dt_st= session.prepare(dt_rec)
session.execute(dt_st,[6])
print('Record deleted successfully...')

Record deleted successfully...

In [27]:
ss= session.execute("select * from  home.Members;")
for i in ss:
    print(i[0],i[1],i[2],i[3])

5 25 sudh@gmail.com 18
1 2222 None None
2 25 dh@gmail.com 128
4 25 sh@gmail.com 108
3 25 None 142

# Insert data from a CSV file to Cassandra DB

In [35]:
import csv
with open('t20.csv','r') as data:
    next(data)
    data_csv= csv.reader(data,delimiter=',')
    #csv reader object
    print(data_csv)
    all_value= []
    for i in data_csv:
        session.execute("insert into home.Members (Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)",[int(i[0]),i[1],i[2],i[3],i[4],i[5],i[6],i[7],i[8],i[9],i[10],i[11],i[12],i[13],i[14]])
print('Finished')

<_csv.reader object at 0x0000022091BB86A0>

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:68 no viable alternative at input '100' (...Runs,HS,Ave,BF,SR,[100]...)">